<!DOCTYPE html>
<html lang="en" ng-app="connect4-app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Connect 4</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.3/css/bootstrap-colorpicker.min.css">
	<style>
		body { margin-top: 60px; background: #FFFFFF; }

		.svg-container {
		    display: inline-block;
		    position: relative;
		    width: 100%;
		    padding-bottom: 100%; /* aspect ratio */
		    vertical-align: top;
		    overflow: hidden;
		}
		.svg-content-responsive {
		    display: inline-block;
		    position: absolute;
		    top: 10px;
		    left: 0;
		}

		@keyframes piece {
			0% { cy: 0px; }
		}

		.connect4ui .piece { 
			animation: piece 400ms;
		}

		.board-colour-input { width: 30px; height: 30px; cursor: pointer; }
		.player-color-input { cursor: pointer; }

	</style>

</head>
<body ng-controller="connect4-controller">

	<div class="container" style="max-width: 800px;">

		<!-- Static navbar -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Connect 4</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li id="newGame">
							<a href="#" ng-click="newGame()">New Game</a>
						</li>
						<li id="settings">
							<a href="#" data-toggle="modal" data-target="#settingsModal">Settings</a>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!--/.container-fluid -->
		</nav>


		<div id="board-container">
			<table style="margin: 0 auto 0 auto; position: relative; left: -20px;">
				<tr>
					<td>
						<svg id="nextPlayerIndicator" width="40" height="50">
							<circle cx="18" cy="30" r="18" style="fill: rgba(255,255,255,0)"></circle>
						</svg>
					</td>
					<td style="padding-left: 12px;"><h2 id="message" ng-model="message"></h2></td>
				</tr>
			</table>
			
		</div>

	</div> <!-- /container -->

	<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="enterNameLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="enterNameLabel">Game Settings</h4>
				</div>
				<div class="modal-body">
					<form id="settingsForm" class="form-horizontal">
						<div class="form-group">
							<label for="player-count" class="control-label col-sm-3"># Players:</label>
							<div class="col-sm-9">
								<div class="input-group">
									<select class="form-control" id="player-count" ng-model="playerCount" ng-options="option for (idx, option) in availablePlayerCounts" ng-change="changePlayerCount()"></select>
								</div>
							</div>
						</div>
						<div class="form-group" ng-show="playerCount == 1">
							<label for="difficulty" class="control-label col-sm-3">Difficulty:</label>
							<div class="col-sm-9">
								<div class="input-group">
									<select class="form-control" id="difficulty" ng-model="difficulty" ng-options="(idx * 1 + 1) as option for (idx, option) in difficultyLabels"></select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Board size:</label>
							<div class="col-sm-4">
								<div class="input-group">
									<input type="number" class="form-control rows" min="1" ng-model="rows" style="width: 60px; float: left;" placeholder="Rows" />
									<div class="text-center" style="float: left; width: 30px; padding-top: 5px;">&times;</div>
									<input type="number" class="form-control cols" min="1" ng-model="cols" style="width: 60px; float: left;" placeholder="Columns" />
								</div>
							</div>
							<div class="col-sm-5">
								<div class="input-group">
									<div class="input-group-addon board-colour-input" ng-style="{'background-color': boardFill}" ng-init="initBoardColourPicker()"><i></i></div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="sound-option" class="control-label col-sm-3">Sound:</label>
							<div class="col-sm-9">
								<div class="input-group">
									<select class="form-control" id="sound-option" ng-model="soundOption" ng-options="idx * 1 as option for (idx, option) in soundOptionLabels"></select>
								</div>
							</div>
						</div>
						<div class="panel panel-default" ng-show="playerCount > 1">
							<div class="panel-heading">Player names</div>
							<div class="panel-body">
								<div class="form-group" ng-repeat="n in [1,2]">
									<label class="control-label col-sm-3">{{getPlayerNameLabel($index)}}</label>
									<div class="col-sm-9">
										<div class="input-group">
											<input type="text" class="form-control player-name-input" placeholder="Enter name" ng-model="playerNames[$index]" />
											<span class="input-group-addon player-colour-input" ng-style="{'background-color': playerFill[$index]}" ng-init="initPlayerColourPicker($index)"><i></i></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="newGame()">New game</button>
				</div>
			</div>
		</div>
	</div><!-- /modal -->


	<div class="modal fade" id="restartGameModal" tabindex="-1" role="dialog" aria-labelledby="restartGameLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="restartGameMessage">{{message}}</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="newGame()">Restart game</button>
				</div>
			</div>
		</div>
	</div><!-- /modal -->

	<audio id="drop-piece-sound">
		<source src="audio/drop-piece.wav" type="audio/wav">
	  	<source src="https://raw.githubusercontent.com/tcliu/connect4/master/audio/drop-piece.wav" type="audio/wav">
	</audio>
	<audio id="win-sound">
		<source src="audio/win.mp3" type="audio/mpeg">
		<source src="https://raw.githubusercontent.com/tcliu/connect4/master/audio/win.mp3" type="audio/mpeg">
	</audio>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.3/js/bootstrap-colorpicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
	<!--
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser-polyfill.min.js"></script>
	-->
	<script src="connect4-engine.js"></script>
	<script src="connect4-ui.js"></script>
	<script src="connect4.js"></script>
</body>
</html>